<div class="col s12 topics-list">
    <div class="card horizontal z-depth-2">
        <div class="card-image">
            <img class="image" src="{{image}}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h3 class="articleTitle">{{articleTitle}}</h3>
                <p class="tagline">{{tagline}}</p>
            </div>
            <div class="card-action">
                <a href="/topics/{{id}}" src="{{articleLink}}">View Article</a>
            </div>
        </div>
    </div>
</div>
